/* CONTACT SECTION */
.contact-section {
  padding: 100px 0;
}

/* CONTACT SHAPES */
.contact-section{
  position: relative;
  overflow: hidden;
}


.contact-section .shape{
  position: absolute;
  pointer-events: none;
  z-index: 0;
  opacity: .6;
}

.contact-dots{
  top: -3000px;
  left: 50%;
  width: 100px;
  transform: translateX(-50%);
   z-index: 1; 
}

.contact-spiral{
  bottom: 300px;
  left: 30px;
  width: 120px;
}

.contact-line{
  bottom: 300px;
  right: 30px;
  width: 90px;
}


/* WRAPPER */
.contact-wrapper {
  background: #178c8e;
  border-radius: 16px;
  padding: 60px;
  display: flex;
   flex-direction: row-reverse;
  gap: 50px;
  align-items: stretch;
}

/* SHAPES GLOBAL */

.shape{
  position: absolute;
  pointer-events: none;
  opacity: .45;
  z-index: 0;
}

.avatar{
  top: 90px;
  left: 70px;
  width: 60px;
}

.spiral{
  top: 120px;
  right: 60%;
  width: 50px;
 
}

.ctrl{
  bottom: 120px;
  left: 120px;
  width: 55px;
}

.cup{
  bottom: 60px;
  right: 60%;
  width: 45px;
}

/*  WAVE IMAGE STYLE */
.contact-wave {
  position: absolute;
  top: -120px;   
  left: 0;

  width: 100%;
  z-index: 1;
}

.contact-wave img {
  width: 100%;
  display: block;
}


.contact-section {
  position: relative;
  overflow: hidden;
}

.contact-wrapper {
  position: relative;
  z-index: 2;
 
}

/* LEFT SIDE */
.contact-left {
  width: 50%;
}

/* MAP */
.map-box {
  width: 100%;
  height: 380px;
  border-radius: 12px;
  overflow: hidden;
}

.map-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* DETAILS */
.contact-details {
  margin-top: 20px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.8;
}


/* RIGHT SIDE */
.contact-right {
  width: 50%;
  color: #ffffff;
}

.contact-right h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #ffffff;
}

.contact-desc {
  font-size: 14px;
  margin-bottom: 30px;
  opacity: 0.9;
}

/* FORM */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;
  border-radius: 6px;
  border: none;
  font-family: 'Alexandria', sans-serif;
}

.contact-form textarea {
  height: 140px;
  resize: none;
}

.contact-form button {
  font-family: 'Alexandria', sans-serif; 
  font-size: 16px;                       
  font-weight: 600;                     
  background-color: #0A2540;             
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 14px 0;
  width: 100%;
  cursor: pointer;
}

.contact-form button:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(10, 37, 64, 0.35);
}

.cta-whatsapp{
  position: absolute !important;

  bottom:10px;   
  left: 0;        

  width: 55px;
  z-index: 30;
}


/* ===== RESPONSIVE ======= */

@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  .container {
    width: 95%;
  }

  /* CONTACT */
  .contact-section {
    padding-top: 140px;
  }

  .contact-wave {
    top: 60px;
  }

  .contact-wrapper {
    flex-direction: column !important;
    padding: 20px;
    gap: 25px;
    width: 100%;
  }

  .contact-left,
  .contact-right {
    width: 100% !important;
  }



  /* MAP */
  .map-box {
    height: 220px;
    width: 100%;
  }

  

  /* TEXT */
  .contact-details {
    text-align: center;
    font-size: 13px;
  }

  .contact-right {
    text-align: center;
  }

  .contact-right h2 {
    font-size: 22px;
  }

  .contact-desc {
    font-size: 13px;
  }

  /* FORM */
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    width: 100%;
    font-size: 14px;
  }

   /* FOOTER */
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 35px;
  }

  .footer-brand {
    max-width: 100%;
  }

  .footer-brand .logo {
    margin-bottom: 20px;
  }

  .footer-brand p {
    margin: 10px 0 20px;
  }

  .footer-social {
    justify-content: center;
    gap: 12px;
    margin: 0;
  }

  .footer-links {
    width: 100%;
    flex-direction: column;
    gap: 25px;
  }

  .footer-col {
    text-align: center;
  }

}

/* ===== HIDE CONTACT DECORATIONS ON MOBILE ===== */

@media (max-width: 768px){

  /* Contact Shapes */
  .contact-dots,
  .contact-spiral,
  .contact-line,

  /* Global Shapes */
  .avatar,
  .spiral,
  .ctrl,
  .cup,

  /* WhatsApp */
  .cta-whatsapp{
    display: none !important;
  }

}


